body { 
    display: grid;
    grid-template-areas: 
      "header header header"
      "nav article article"
      "footer footer footer";
    grid-template-rows: 80px 1fr 70px;  
    grid-template-columns: 15% 1fr;
    gap: 1px;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    }  
nav, div {
    padding: 1.2em;
    background: #D4E4F7;
    border-radius: 3px;
}

article{
    padding: 1.2em;
    background: #f1f1f1;
    border-radius: 3px;
}

header {
    padding: 1.2em;
    background: #FC7307;
    border-radius: 3px;
}

footer {
    padding: 1.2em;
    background: #341C09;
    border-radius: 3px;
}


abbr {
    color: #FC7307;
}
a {
    color: #236AB9;
}

a:visited {
    color: #1E5A9F;
}


#pageHeader {
    grid-area: header;
    text-align: center;
    font-size: x-large;
}
#pageFooter {
    grid-area: footer;
}
#mainArticle { 
    grid-area: article;
    background-image: url("Background.png");
    background-size: cover;
    background-position: center;

}
#mainNav { 
    grid-area: nav; 
}
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
body { 
    grid-template-areas: 
    "header"
    "article"
    "nav"
    "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;  
    grid-template-columns: 1fr;
}
#forSaleDiv{
    grid-template-columns: 1fr;
}
}

.home {
    position: relative;
    display: inline-block;
}
.homebtn {
    background-color: #B85B14;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    align-self: center;
}

.homebtn:hover{background-color: #341C09;}
 /* Dropdown Button */
 .dropbtn {
    background-color: #B85B14;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    align-self: center;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    border-radius: 5px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #341C09;} 

  .paragraph{
    border-style: solid;
    border-width: 0px;
    border-radius: 3px;
    border-color: black;
    border-width: 0px;
  }

.css{
    padding: 3px;
    display: inline-block;
    align-self: center;
}

.correct{
    background-color: green;
}

.false{
    background-color: #B22222;
}   

.multTable{
    table-layout: auto;
    border: 1px solid;
    text-align: center;
}

.square{
    background-color: grey;
    table-layout: auto;
    border: 1px solid;
    column-width: 30em;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.forSale{
    background-color: white;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    padding: 3%;
    
}

.center {
    text-align: center;
}

.imgCenter {
    margin: 10px auto 10px;
    display: block;
    padding: 30px;
}
#forSaleDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}


.submit {
    visibility:hidden;
}

.quantity {
    padding: 5px;
    appearance: textfield;
    max-width: 20px;
    max-height: 5px;
}

.ReceiptTable{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}

.ReceiptTd{
    border: 1px dashed grey;
    padding: 5px;
    text-align: center;
}

.ReceiptTotal{
    border: 1px dashed grey;
    padding: 5px;
    text-align: right;
    padding-right: 15px;
    font-weight: bold;
}